<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div>
      <a class="navbar-brand header_logo" href="#">
        <img src="../../assets/farmer.png" alt="Logo" style="width: 50px; height: auto; margin-right: 1rem;">
        <h1 class="header_name">{{"sugarcane" |translate}}</h1>
      </a>
    </div>
    <p>
      <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-home"></span> {{"HOME" | translate}}
      </a>
    </p> 
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ 'LANGUAGE' | translate }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item text-dark" href="#" (click)="switchLanguage('en')">English</a>
      <a class="dropdown-item text-dark" href="#" (click)="switchLanguage('ka')">Kannada</a>
    </div>
  </div>
</nav>
